<div class="input-wrapper">
    @if (prefix) {
        <span (click)="onClickAddon()" class="input-group-addon text-preset-3">{{prefix}}</span>
    }
    
    <input
        #input
        type="text"
        [id]="inputId"
        [ngModel]="inputValue"
        (ngModelChange)="onInputChange($event)"
        (blur)="onInputBlur()"
        [disabled]="isDisabled"
    />
    
    @if (suffix) {
        <span (click)="onClickAddon()" class="input-group-addon text-preset-3">{{suffix}}</span>
    }
</div>
