<div class="card">
  <main class="card__content">
    <div class="calculator">
      <div class="calculator__header">
        <h2 class="text-preset-2 clr-slate-900">Mortgage Calculator</h2>
        <button class="reset-button text-preset-4 clr-slate-700"
          (click)="onClearCalculator()"
        >Clear All</button>
      </div>
      <form class="calculator__form" (ngSubmit)="onSubmit()" [formGroup]="calculatorForm">
        <label for="amount">Mortgage Amount</label>
        <app-input-currency prefix="&pound;" inputId="amount" formControlName="amount" />

        <label for="term">Mortgage Term</label>
        <app-input-whole-numbers suffix="years" inputId="term" formControlName="term" />
        
        <label for="interestRate">Interest Rate</label>
        <app-input-percentage suffix="%" inputId="interestRate" formControlName="interestRate" />

        <app-radio-buttons
          formControlName="mortgageType"
          [options]="mortgageTypeRadioButtonOptions"
        />

        <button class="button" type="submit">
          <img src="images/icon-calculator.svg" alt="">
          Calculate Repayments
        </button>
      </form>
    </div>
    <div class="results">
      @if (isResultCalculated) {
        <h2 class="text-preset-2">Your results</h2>
        <p class="text-preset-4 clr-slate-300">
          Your results are shown below based on the information you provided.
          To adjust the results, edit the form and click “calculate repayments” again.
        </p>
        <div class="results__output">
          <p class="text-preset-4 clr-slate-300">Your monthly repayments</p>
          <span class="text-preset-1 clr-primary">{{monthlyRepayment | currency : 'GBP'}}</span>
          <hr>
          <p class="text-preset-4 clr-slate-300">Total you'll repay over the term</p>
          <span class="text-preset-2">{{totalRepayment | currency}}</span>
        </div>
      }
      @else {
        <img class="results__img" src="images/illustration-empty.svg" alt="illustration of mortgage calculations">
        <h2 class="text-preset-2 text-align-center">Results shown here</h2>
        <p class="text-preset-4 clr-slate-300 text-align-center">
          Complete the form and click “calculate repayments” to see what
          your monthly repayments would be.
        </p>
      }
    </div>

    <!-- <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
      Coded by <a href="#">Your Name Here</a>.
    </div> -->
  </main>
</div>

<router-outlet />
