@import 'styles/reset.css';
@import 'styles/root.css';
@import 'styles/fonts.css';
@import 'styles/typography.css';
@import 'styles/utils.css';
@import 'styles/components/input.css';

body {
    font-family: var(--ff-sans), Arial, Helvetica, sans-serif;
    background-color: var(--clr-slate-100);
    display: grid;
    place-content: center;
}

.card {
    max-width: 1008px;
    background-color: var(--clr-white);
    border-radius: 10px;
    min-height: 606px;
}

.calculator {
    padding: 1.6rem;
}

.reset-button {
    outline-offset: 2px;        
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    cursor: pointer;
}

.reset-button:hover,
.reset-button:focus-visible
{
    color: var(--clr-slate-900);        
}

.button {
    background-color: var(--clr-primary);
    outline: none;
    border: none;
    border-radius: 999px;
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex;
    gap: .8rem;
}

.button:hover,
.button:focus-visible {
    background-color: var(--clr-primary-light-200);
}

.results {
    background-color: var(--clr-slate-900);
    color: var(--clr-white);
    padding: 1.6rem;
}

.results__output {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

/* .results__output p {
    margin: 0;
} */

.results__output hr {
    margin-block: 1rem;
    border-bottom: none;

    border-color: rgb(154, 190, 213, 0.25);
}

.results__img {
    margin-inline: auto;
}
