@import 'styles/reset.css';
@import 'styles/root.css';
@import 'styles/fonts.css';
@import 'styles/typography.css';
@import 'styles/utils.css';
@import 'styles/components/input.css';

body {
    font-family: var(--ff-sans), Arial, Helvetica, sans-serif;
    background-color: var(--clr-slate-100);
    display: grid;
    place-content: center;
}

.card {
    max-width: 1008px;
    background-color: var(--clr-white);
    padding: 2rem;
    border-radius: 10px;
    min-height: 606px;
}

.reset-button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    cursor: pointer;
}

